# Keep these files out of the repo
themes/twenty*
themes/cityd/bower_components
themes/cityd/node_modules
upgrade
uploads
sitemap.*
wp-config.php
*.sql
debug.log

# Hidden files
*.DS_Store
*Thumbs.db
*.sass-cache*
*~imageoptim*
